# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?

# Temporary files
~$*
*.tmp
*.temp

# Backup files
*~
*.bak
*.swp

# Other miscellaneous files
*.orig
*.pid

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum
